
.btn-custom  {
    background-color: #76BABB !important; 
    text-shadow: 1px 1px black;

  }

img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    border-radius: 25px;
}

.alert-custom{
  margin-top: 2% !important;
}

.img_class {
    vertical-align: middle !important;
    display: table-cell;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.container-fluid {
    border: 1px solid #2B579A;
    margin-top: 1%;
    background: #FFFAF0;
    border-radius: 15px;
  }

html, body{
  background: #FFFDC9;
}

h1 {
    color: white;
    background-color: #2B579A;
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-shadow: 2px 2px black;
  }

  textarea {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
  }




